<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h2>Create Account</h2>
    <form action="/register" method="POST">
        <input type="text" placeholder="First Name" name="fn"><br/><br/>
        <input type="text" placeholder="Last Name" name="ln"><br/><br/>
        <input type="email" placeholder="Email" name="eml"><br/><br/>
        <input type="password" placeholder="Password" name="p1"><br/><br/>
        <input type="password" placeholder="Repeat Password" name="p2"><br/><br/>
        <button type="submit">Submit</button>
        <br/>
    </form>
</body>

</html>